@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== 🌞 LIGHT THEME ========== */
:root {
  /* Brand */
  --color-primary: #000000;
  --color-component: #c7c8c9;

  /* Semantic */
  --color-success: #00ff7f;
  --color-danger: #ff4c4c;
  --color-warning: #ffd700;
  --color-info: #a0a0a0;

  /* Neutral */
  --color-text-main: #000000;
  --color-text-primary: #ffffff;
  --color-text-secondary: #666565;
  --color-background: #ffffff;
  --color-surface: #f5f5f5;
  --color-border-color: #e5e5e5;
}

/* ========== 🌙 DARK THEME ========== */
html.dark {
  --color-primary: #ffffff;
  
  --color-component: #a0a0a0;

  --color-success: #00ff7f;
  --color-danger: #ff4c4c;
  --color-warning: #ffd700;
  --color-info: #a0a0a0;

  --color-text-main: #ffffff;
  --color-text-primary: #000000;
  --color-text-secondary: #cfcfcf;
  --color-background: #1a1a1a;
  --color-surface: #000000;
  --color-border-color: #333333;
}

/* ========== ✨ Utility classes ========== */
@layer utilities {
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  .bg-surface { background-color: var(--color-surface); }
  .bg-background { background-color: var(--color-background); }
  .bg-primary { background-color: var(--color-primary);}
  .bg-component { background-color: var(--color-component);}

  .text-main { color: var(--color-text-main);}
  .text-primary { color: var(--color-text-primary); }
  .text-secondary { color: var(--color-text-secondary); }

  .border-primary { border-color: var(--color-primary); }
  .border-color { border-color: var(--color-border-color); }

  .hover\:bg-primary:hover { background-color: var(--color-primary); }
}

@layer base {
  * {
    transition: all 0.25s ease;
  }

  html, body, #root {
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-surface);
    color: var(--color-text-main);
    height: 100%;
    overflow: hidden;
  }

  button {
    cursor: pointer;
  }
}
